<!DOCTYPE html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Event Time
			{% endblock %}
		</title>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
			<link rel="stylesheet" href="{{ asset('css/app.css') }}">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS --><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"> </script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
			<script src="{{ asset('js/app.js') }}"></script>
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="#">Event Time</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="menu">
					<ul class="navbar-nav ml-auto">
						{% block menu %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_event') }}">Evenements</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_create_event') }}">Créer un évènement</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Hello</a>
							</li>

						{% endblock %}
					</ul>
				</div>
			</div>
		</nav>


		{% block body %}{% endblock %}

	</body>
</html>
